/* src/components/GameOutcome.css */

#gameOutcomeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #gameOutcomeMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: #fff;
    text-align: center;
  }
  
  #gameOutcomeButton {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 4vw;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  #gameOutcomeButton:hover {
    background-color: #ddd;
  }
  
  @media (min-width: 600px) {
    #gameOutcomeMessage {
      font-size: 32px;
    }
  
    #gameOutcomeButton {
      font-size: 18px;
    }
  }
  